<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | Blogs</title>
    <link rel="stylesheet" href="./stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="./stylesheets/blogs.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>
<%- include('partials/header', {email: email}); %>

<h1 class="blog-title container">
    THE BLOG
</h1>

<div class="container recent-blogs-wrapper">
    <h4 class="title">Recent blog posts</h4>
    <div class="row-1">
        <div class="col-1">
            <div>
                <figure class="thumbnail-wrapper">
                    <img src="/images/thumbnails/thumbnail-1.png" alt="Thumbnail 1">
                </figure>
                <div class="blog-meta">
                    <p><%= blogs[0].author.email %></p> <span> • </span>
                    <p><%= blogs[0].date.getDate() %> <%= blogs[0].date.toLocaleString('default', { month: 'short' }) %> <%= blogs[0].date.getFullYear() %></p>
                </div>
                <figure class="blog-title-wrapper">
                    <a href="/"><%= blogs[0].title %></a>
                    <img src="/images/arrow-up-icon.svg" alt="Arrow up icon">
                </figure>
                <div class="description-wrapper">
                    <p><%= blogs[0].description %></p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

</body>
</html>