<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | Blogs</title>
    <link rel="stylesheet" href="./stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="./stylesheets/blogs.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>
<%- include('partials/header', {email: email}); %>

<h1 class="blog-title container">
    THE BLOG
</h1>

<div class="container recent-blogs-wrapper">
    <h4 class="title">Recent blog posts</h4>
    <div class="row-1">
        <div class="col-1">
            <div>
                <figure class="thumbnail-wrapper">
                    <img src="/images/thumbnails/thumbnail-1.png" alt="Thumbnail 1">
                </figure>
                <div class="blog-meta">
                    <p><%= blogs[0].author.email %></p> <span> • </span>
                    <p><%= blogs[0].date.getDate() %> <%= blogs[0].date.toLocaleString('default', {month: 'short'}) %> <%= blogs[0].date.getFullYear() %></p>
                </div>
                <figure class="blog-title-wrapper">
                    <a href="/blogs/<%= blogs[0]._id %>"><%= blogs[0].title %></a>
                    <img src="/images/arrow-up-icon.svg" alt="Arrow up icon">
                </figure>
                <div class="description-wrapper">
                    <p><%= blogs[0].description %></p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="small-card">
                <figure>
                    <img src="/images/thumbnails/thumbnail-2.png" alt="Thumbnail 2">
                </figure>
                <div class="content-wrapper">
                    <p class="meta"><%= blogs[1].author.email %>
                        • <%= blogs[1].date.getDate() %> <%= blogs[1].date.toLocaleString('default', {month: 'short'}) %> <%= blogs[1].date.getFullYear() %></p>
                    <a class="title" href="/blogs/<%= blogs[1]._id %>"><%= blogs[1].title %></a>
                    <p class="description"><%= blogs[1].description %></p>
                </div>
            </div>
            <div class="small-card">
                <figure>
                    <img src="/images/thumbnails/thumbnail-3.png" alt="Thumbnail 3">
                </figure>
                <div class="content-wrapper">
                    <p class="meta"><%= blogs[2].author.email %>
                        • <%= blogs[2].date.getDate() %> <%= blogs[2].date.toLocaleString('default', {month: 'short'}) %> <%= blogs[2].date.getFullYear() %></p>
                    <a class="title" href="/blogs/<%= blogs[2]._id %>"><%= blogs[2].title %></a>
                    <p class="description"><%= blogs[2].description %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="wide-card">
        <figure>
            <img src="/images/thumbnails/thumbnail-4.png" alt="Thumbnail 4">
        </figure>
        <div class="content-wrapper">
            <p class="meta"><%= blogs[3].author.email %>
                • <%= blogs[3].date.getDate() %> <%= blogs[3].date.toLocaleString('default', {month: 'short'}) %> <%= blogs[3].date.getFullYear() %></p>
            <div class="blog-title-wrapper">
                <a class="title" href="/blogs/<%= blogs[3]._id %>"><%= blogs[3].title %></a>
                <img src="/images/arrow-up-icon.svg" alt="Arrow up icon">
            </div>
            <p class="description"><%= blogs[3].description %></p>
        </div>
    </div>
</div>

<section class="container all-blog-posts-wrapper">
    <h2 class="title">All blog posts</h2>
    <div class="blogs-grid">
        <% blogs.forEach((blog) => { %>
            <div class="standard-card">
                <figure>
                    <img src="/images/thumbnails/thumbnail-5.png" alt="Thumbnail 5">
                </figure>
                <div>
                    <p class="meta"><%= blog.author.email %>
                        • <%= blog.date.getDate() %> <%= blog.date.toLocaleString('default', {month: 'short'}) %> <%= blog.date.getFullYear() %></p>
                    <figure class="blog-title-wrapper">
                        <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <img src="/images/arrow-up-icon.svg" alt="Arrow up icon">
                    </figure>
                    <p><%= blog.description %></p>
                </div>
            </div>
        <% }) %>
    </div>
</section>

<%- include('partials/footer'); %>

</body>
</html>